<nav class="navbar">
    <ul class="nav1">
        <% if(user.userType == 'coordinator') {%>
            <li><a href="/home/createRequest">Create Request</a></li>
            <li><a href="/requests/status">Request Status</a></li>
        <% } %>
        <% if(user.userType !== "coordinator") {%>
            <li><a style="position: relative;"href="/requests">All Requests
                <% if(user.reqCount) {%>
                    <span class="badge rounded-circle bg-danger">
                        <%= user.reqCount %>
                        <span class="visually-hidden"></span>
                    </span>
                <% } %> 
            </a></li>
        <% } %>
    </ul>
    <ul class="nav2 p-0">
        <li><a href="/home/redirect">Home</a></li>
        <li><a id="account" href="/home/account">Account</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>
