<nav>
    <ul class="nav1">
        <li><a href="/request"><i class="fa-solid fa-bell"></i><br>Show Requests</a></li>
        <li><a href="/createRequest"><i class="fa-solid fa-plus"></i><br>Create Request</a></li>
    </ul>
    <ul class="nav2">
        <li><a href="/home/<%= user.id %>"><i class="fa-solid fa-house"></i><br>Home</a></li>
        <li><a id="account" href="/home/account/<%= user.id %>"><i class="fa-solid fa-circle-user"></i><br>Account</a></li>
        <li><a href="/About"><i class="fa-solid fa-circle-info"></i><br>About</a></li>
    </ul>
</nav>