<% layout('./layouts/boilerplate') %>
<body>
    <div class="filter"></div>
    <div class="container row offset-0 rounded mb-5 p-5" style="background-color: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);">
        <form action="/home/createGuestRequest" method ="POST" novalidate class="needs-validation col-12">
            <div class="row mb-3">
                <div class="col-3">
                    <label for="numberOfGuests" class="form-label">Number Of Guests arriving:</label>
                    <input type="number" name="numberOfGuests" id="numberOfGuests" class="form-control" required/>
                </div>
            </div>
            <div class="row border-top pt-5" id="guestNameAndDetail">
                <!-- Added by Js -->
            </div>
            <div class="row mb-3">
                <label for="reasonOfArrival" class="form-label">Reason Of Arrival:</label>
                <textarea name="reasonOfArrival" id="reasonOfArrival" class="form-control" required></textarea>
            </div>
            <div class="row mb-3">
                <label for="to_id" class="form-label">Send This Request To:</label>
                <select name="to_id" id="to_id" class="form-control" required>
                    <option value="" disabled selected >Select Hod</option>
                    <% for(let to of upperLevelUser){%>
                        <option value="<%= to.id %>"><%= to.name %> Sir - HOD <%= to.department.toString().toUpperCase() %></option>
                    <% } %>
                </select>
                <p class="form-text mt-4">Request will be sent to Principal with heigher level peoples approval</p>
            </div>
            <button class="btn col-4 offset-4 mt-5 btn-success" style="color: white;">Submit</button>
        </form>
    </div>
    <script src="/js/createGuestRequest.js"></script>
</body>

