<% layout('./layouts/boilerplate') %>
<div class="row col-12 mt-2 mb-5 ">
    <div class="filter"></div>
    <div class="inContainer" style="background-color: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);">
        <form action="/home/createGuestRequest" method ="POST" novalidate class="needs-validation col-12 p-0">
            <div class="noOfgst">
                <div class="">
                    <label for="numberOfGuests" class="form-label">Number Of Guests arriving:</label>
                    <input type="number" name="numberOfGuests" id="numberOfGuests" class="form-control" required/>
                </div>
            </div>
            <div class="row pt-0 pt5 m-1" id="guestNameAndDetail">
                <!-- Added by Js -->
            </div>
            <div class="rsnOfArr">
                <label for="reasonOfArrival" class="form-label">Reason Of Arrival:</label>
                <textarea name="reasonOfArrival" id="reasonOfArrival" class="form-control" required></textarea>
            </div>
            <div class="sendTo">
                <label for="to_id" class="form-label">Send This Request To:</label>
                <select name="to_id" id="to_id" class="form-control" required>
                    <option value="" disabled selected >Select Hod</option>
                    <% if(upperLevelUser) {%>
                        <% for(let to of upperLevelUser){%>
                            <option value="<%= to.id %>"><%= to.name %> Sir - HOD <%= to.department.toString().toUpperCase() %></option>
                        <% } %>
                    <% } %>
                </select>
                <p class="form-text mt-4">Request will be sent to Principal with heigher level peoples approval</p>
            </div>
            <button class="btn col-4 offset-4 mt-5 btn-success" style="color: white;">Submit</button>
        </form>
    </div>
</div>


