<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="account">
        <div class="account-icon">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="account-body">
            <p class="account-text"> Name : <b><%= user.name %></b></p>
            <p class="account-text">Working As : <b><%= user.user_type %></b></p>
            <p class="account-text">Department : <b><%= user.department %></b></p>
            <form action="#">
                <button class="edit-btn">Edit Account</button>
            </form>
        </div>
    </div>
</body>