<% layout("/layouts/boilerplate.ejs") %>

<div class="report">
    <table>
        <thead>
            <tr>
                <th>Request Date: </th>
                <th>Created By: </th>
            </tr>
        </thead>
        <tr>
            <td>Hod</td>
            <td>Approved</td>
        </tr>
        <tr>
            <td>Principal</td>
            <td>Approved</td>
        </tr>
        <tr>
            <td>Warden</td>
            <td>Allocated Room</td>
        </tr>
    </table>
</div>

<style>
    .report{
        background-color: white;
        border-radius: 10px;
        padding: 1rem;
    }
    table{
        padding: 5px;
    }
    th, td{
        border: 2px solid black;
        padding: 5px;
        padding: 2rem;

    }
</style>