*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #142424 !important;
    background-image: url("./assets/final.png");
    background-size: 65%;
    background-position: 110% 20%;
    background-repeat: no-repeat;
}


body::-webkit-scrollbar{
    width: 0px;
}

/* .filter{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.245);
    backdrop-filter: blur(2px);
    z-index: -1;
} */

.caption{
    position: absolute;
    top: 30%;
    left: 5%;
    background: linear-gradient(45deg, rgb(0, 86, 44), #08a56c, white, rgb(0, 143, 81) );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 40rem;
}

.caption h4{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 1rem;
}


.filter-home{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container{
    margin: 1px;
    display: flex;
    padding-top: 10rem;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    border-radius: 20px;
    width: 100vw;
    z-index: 1;
}

nav{
    position: absolute;
    height: 5rem;
    top: 0px;
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-between !important;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    background-color: rgba(255, 255, 255, 0.038);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

ul{ 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 20px;
}


li{ 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li a{
    text-decoration: none;
    text-wrap: nowrap;
    padding: 10px;
    border-radius: 5px;
    color: #ffffffcd !important;
    font-size: 19px;
    margin: 20px 10px 10px 10px;
    font-weight: 400;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

li:hover a{
    background-color: #08a169;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* footer */
footer{
    height: 20rem;
    width: 100%;
    background-color: #d3d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.college{
    display: flex;
    align-items: center;
    justify-content: center;
}

.college p{
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

/* account */
.account{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.934);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.account-icon{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-icon i{
    font-size: 9rem;
    color: rgba(0, 0, 0, 0.538);
}

.account-body{
    width: 19rem;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.account-body p{
    margin: 1rem;
}

.edit-btn{
    height: 2.5rem;
    width: 18rem;
    margin-top: 1rem;
    margin-left: 5px;
    border-radius: 2px;
    background-color: #08a169;
    color: white;
    border: 0px;
    outline: none;
    align-self: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
}

.edit-btn:hover{
    background-color: #098b5b;
}

/* select-request */
.select-rqst{
    height: 25rem;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.934);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.select-rqst h1{
    margin: 20px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.73);
}

.select-rqst a{
    margin: 20px;
    color: rgba(0, 0, 0, 0.729);
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}

.select-rqst a:hover{
    text-decoration: underline 2px solid green;
}

/* Show all request */
.showAllRequest-container{
    margin-bottom: 10rem;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.934);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.req{
    border-bottom: 2px solid rgba(0, 0, 0, 0.226);
    padding: 10px;
}

.req-dtl{
    display: flex;
}

.req-from, .req-date{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.071);
}

.req-title, .req-title h3{
    text-decoration: none;
    margin-bottom: 0.9rem;
    font-size: 25px;
    color: rgb(37, 52, 215);
}

.req-title h3:hover{
    text-decoration: underline 2px;
}

.req-title h3{
    display: inline;
}

.rejected, .pending, .accepted{
    border-radius: 10px;
    color: white;
    text-align: center;
}

.showAllRequestDetails{
    position: relative;
}

.rejected, .pending, .accepted{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.rejected{
    background-color: rgb(180, 0, 0);
}

.pending{
    background-color: rgb(156, 164, 0);
}

.accepted{
    background-color: green;
}

/* show Request status */
.status-container{
    border-bottom: 2px solid rgba(0, 0, 0, 0.325);
}

.status{
    font-size: 17px;
    opacity: 1;
}


/* create Request */
.inContainer{
    margin: 1px;
    display: flex;
    padding: 5rem;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    border-radius: 20px;
    width: 100vw;
    z-index: 1;
}

.noOfgst{
    width: 100%;
    padding: 0.5rem;
}

.gstDtl{
    width: 100%;
    margin: 1rem 0;
    border: 2px solid rgba(0, 0, 0, 0.166);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.gstTime{
    display: flex;
    flex-wrap: wrap;
}

.gstTime .time{
    flex: 1;
    margin: 0.2rem;
}

.gstDInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.gstFInfo{
    display: flex;
    margin-top: 0.5rem;
}

.gstFInfo .info{
    flex: 1;
    & input{
        margin-left: 1rem;
    }
}

.rsnOfArr{
    width: 100%;
    padding: 0.5rem;
}

.sendTo{
    width: 100%;
    padding: 0.5rem;
}

@media screen and (max-width: 600px) {
    .inContainer{
        padding: 1rem;
    };
}