body{
    background-color: #142424;
    display: flex;
    padding: 10vh 0vw;
    align-items: flex-start;
    justify-content: center;
}

.letter{
    background-color: white;
}

.form-control{
    width: 12rem;
}
